@import './variables';

image {
  text-shadow: 1px 2px 5px rgb(70, 69, 69);
}

#homePage {
  display: flex;
  justify-content: center;

  #homeBackground {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: .7;
      background-image: url('../../images/nashville.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      align-items: flex-start;
      justify-content: center;
    }
        .home-header {
          position: relative;
          opacity: 1 !important;
          z-index: 2;
          margin-top: 10%;
          margin-left: 5%;
          align-items: center;
          .headshot {
            height: 200px;
            width: 200px;
          }
      }
}

#bioPage {
    margin-left: 1em;
    margin-right: 1em;

    #bio {
      font-family: 'Exo', sans-serif;
      font-weight: bold;
      color: $cgreen;
      text-align: justify;
      text-justify: inter-word;
  }
}

#bioPage, #projectsPage, #technologiesPage{
  display: none;
}

.container {
    width: auto;
    display: flex;
    justify-content: center;
}

#html-logo, #css-logo, #js-logo, #react-logo, 
#ajax-logo, #jquery-logo, #github-logo,
#firebase-logo, #bootstrap-logo, #bulma-logo, 
#sass-logo, #webpack-logo {
  height: 125px;
  width: auto;
}

.typedHeader {
      font-family: 'Exo', sans-serif;
      color: white;
      text-shadow: 1px 2px 5px rgb(70, 69, 69);
      font-weight: bold;
}

.homeBtn{
  box-shadow: 1px 2px 5px rgb(70, 69, 69);
  max-width: 200px;
  min-width: 150px;

  .btnIcon{
    color: $cgreen;
    font-size: 2rem;
  }
  
  .btnText {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: $cgreen;
    padding-left: 5px;
  }
  
  .linkedinBtn {
    padding-bottom: 5px;
  }
  
  .contactBtn {
    color: $cgreen;
  }
}


#technologiesPage {
  margin-top: 3%;
  height: 100%;
}

#technologiesPage .column, .media-content {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

#bioPage p, .hero {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.hero.is-medium .hero-body {
      padding-top: 0;
      padding-bottom: 0;
      padding: 0;
      box-shadow: 1px 2px 5px rgb(70, 69, 69);
    }
    
.bio-hero {
      background-color: $cgreen;

  .bioHead {
        margin: auto;
      }
}
    
.typedHeader {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.dev {
  margin-top: 4px;
}

.music {
  margin-top: 9px;
}

.head-level {
  padding-top: 1em;
  padding-bottom: 1em;
}

.arrow {
  padding: 0;
}

.tab {
  text-indent: 1em;
  color: $cgreen;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}